@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Arial", sans-serif;
  --primary-font: "Exo 2", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --clr-primary: #212121;
  --clr-secondary: #757575;
  --clr-text: #000000;
  --clr-light: #bdbdbd;
  --clr-grey: #f6f6f6;
  --clr-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--secondary-font);
  background-color: var(--clr-grey);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-primary);
}
p,
a {
  color: var(--clr-secondary);
}

.header {
  /* box-shadow: var(--clr-primary) 0px 1px 4px, var(--clr-primary) 0px 0px 0px 3px; */
  /* box-shadow: 0px 0px 0px 2px var(--clr-primary); */
  /* height: 5vh; */
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav .brand {
  flex-basis: 50%;
}
.nav .brand a {
  color: var(--clr-primary);
  text-decoration: none;
  text-transform: capitalize;
}
.nav ul {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav ul a {
  color: var(--clr-primary);
  padding-right: 1rem;
  margin-left: 1rem;
  position: relative;
  text-transform: capitalize;
}
.nav ul a:hover {
  color: var(--clr-secondary);
  transition: hover 0.2s linear;
}
.nav ul a:not(ul li:last-child a):after {
  content: "";
  position: absolute;
  width: 1px;
  background: var(--clr-primary);
  height: 100%;
  right: 0;
}

section.hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero .hero-container {
  width: 90%;
  margin: auto;
}
section.hero .hero-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.hero .hero-text {
  flex-basis: 40%;
}
section.hero .hero-img {
  flex-basis: 60%;
  width: 100%;
}
section.hero .hero-img div {
  width: 100%;
}
section.hero .hero-img img {
  width: 100%;
  height: 100%;
}
/* Post */
section.posts {
  /* height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
section.posts .posts-container {
  width: 70%;
  margin: 5rem auto;
}
section.posts .post-card {
  box-shadow: 0px 0px 0px 2px var(--clr-primary);
  padding: 0.5rem;
  border-radius: 7px;
}
section.posts .post-card-img {
  width: 100%;
  height: 400px;
  margin: auto;
  background-image: url(../assets/post-card.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all ease 0.2s;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 0, 100% 66%, 0 100%); */
}
section.posts .post-card-img .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--clr-primary);
  opacity: 0.5;
  transition: opacity ease 0.2s;
}
section.posts .post-card-img .bg:hover {
  opacity: 0;
}
section.posts .post-card-img img {
  width: 100%;
  margin: auto;
}
section.posts .post-card-text {
  margin-top: 1rem;
  padding: 1rem;
  background: var(--clr-white);
  border-radius: 4px;
}
section.posts .post-card-text div {
  margin-top: -7rem;
  position: relative;
  z-index: 234;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
section.posts .post-card-text h2 {
  font-weight: 400;
  font-size: 25px;
  text-transform: capitalize;
  margin: 1rem 0;
}
section.posts .post-card-text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
section.posts .post-card-text hr {
  border-top: 1px solid var(--clr-light);
  display: block;
  margin-bottom: 1rem;
  width: 70%;
}
/* Mail Section */
section.newsletter {
  margin-top: 1rem;
  min-height: 100vh;
  /* border-top: 3px solid var(--clr-primary); */
  background-color: var(--clr-light);
}
section.newsletter .newsletter-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.newsletter .newsletter-bg .box {
  background: var(--clr-white);
  width: 50%;
  margin: auto;
  box-shadow: var(--clr-secondary) 1.95px 1.95px 2.6px;
  box-shadow: 0 4px 20px var(--clr-secondary);
  text-align: center;
  padding: 2rem;
  border-radius: 4px;
}
section.newsletter .newsletter-bg h2 {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin: 1rem 0;
}
section.newsletter .newsletter-bg p {
  font-weight: 300;
  font-size: 13px;
  margin: 2rem 0;
}
section.newsletter .newsletter-bg form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
section.newsletter .newsletter-bg input {
  padding: 1rem 0.5rem;
  flex-basis: 70%;
  border: 1px solid var(--clr-light);
  border-radius: 4px;
}
section.newsletter .newsletter-bg button {
  border-radius: 2px;
  padding: 1rem 0.5rem;
  flex-basis: 20%;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background: var(--clr-white);
  cursor: pointer;
  transition: linear 0.15s;
}
section.newsletter .newsletter-bg button:hover {
  color: var(--clr-white);
  background: var(--clr-primary);
  cursor: pointer;
}
